*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "poppins", sans-serif;
}

body{
    background-image: url("assets/bg-img.jpg");
    background-size:cover ;
    background-repeat: no-repeat;
    z-index: -1;
    min-height: 100vh; 
     display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: white;
    position: fixed;
    top: 0;
    font-size: 50px;
    padding-top: 10px;
}
.container{
    z-index: 20;
    width: 400px;
    height: min-content;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 28px;
}
.search-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.search-box input{
    width: 84%;
    height: min-content;
    background-color: rgb(138, 162, 182);;
    text-transform: capitalize;
    padding: 10px;
    border-radius: 10px;
}
.search-box button{
    background-color: rgb(138, 162, 182);
    cursor: pointer;
    height: 43px;
    width: 43px;
    font-size: 20px;
    border-radius: 50%;

}
input::placeholder{
    color: black;
    font-size:15px ;
    height: min-content;
}
.search-box button:hover{
    color: blue;
    font-size: 25px;
    height: 46px;
    width: 46px;
    /* border-radius: 50%; */
}
.weather-body{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
}
.weather-body img{
    width: 60%  
}
.weather-box{
   margin-block: 20px;
   text-align: center;
}
.weather-box .temperature{
    font-size: 40px;
    font-weight: 700;
    position: relative;
}
.weather-box .temperature sup{
    font-size: 20px;
    font-weight: 600;
    position: absolute;
}
.weather-box .description{
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}
.weather-details{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    margin-top: 20px;
}
.humidity, .wind{
    display: flex;
    align-items: center;   
}
.humidity{
    margin-right: 50px;  /* you might have to remove it later */
}
.weather-details i{
    font-size: 30px;
}
.weather-details .text{
    margin-left: 10px;
    font-size: 16px;
}
.text span{
    font-size: 20px;
    font-weight: 700;
}
.location-not-found{
    margin-top: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.location-not-found img{
    width: 80%;
}
.location-not-found h1{
    position: inherit;
    font-size: 20px;
    color: #6b6b6b;
    margin-block-end: 15px; /*bottom*/
}

